* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --contact-distance: 2rem;
    --space-mono-font: font-family: 'Space Mono', monospace;

}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Inconsolata', monospace;
}
a {
    color: #BDBDBD;
}
h1 {
    width: clamp(320px, 100%, 1440px);
    margin: 0 auto;

    font-size: 1.8rem;
    letter-spacing: -.2rem;
    line-height: 2rem;
}

.wrap {
    font-family: var(--space-mono-font);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--contact-distance);
    padding-inline: var(--contact-distance);
}

main {
    width: clamp(320px, 100%, 1440px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;   
    gap: var(--contact-distance);
}

.content {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: var(--contact-distance);
}

.imgContainer {
    flex: 1 0 300px;
}

.imgContainer img {
    width: 100%;
}

.content h2 {
    font-weight: 700;
    font-size: 4rem;
}
.content p {
    margin-block: 2rem;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.content span {
    font-weight: 700;
    font-size: 1.4rem;
    color: #ffffff;
    cursor:context-menu;

    background-color: #333333;
    padding: 1rem 2rem;
}
.footer {
    width: 100%;
    text-align: center;
    color: #BDBDBD;
    font-weight: 500;
    font-size: 1.4rem;
}