* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* font-family: 'Inconsolata', monospace;
font-family: 'Space Mono', monospace; */
body {
    width: 100vw;
    /* max-width: 1130px; */
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}
a {
    text-decoration: none;
    color: #BDBDBD;
}
header h1 {
    width: 90%;
    max-width: 1130px;
    margin: 0 auto;

    font-size: 1.8rem;
    letter-spacing: -.2rem;
    line-height: 2rem;
}

main {
    width: 90%;
    max-width: 1130px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    place-content: center;

    font-family: 'Space Mono', monospace;
}
.imgContainer img {
    width: 100%;
    height: 100%;
}

.content h2 {
    font-weight: 700;
    font-size: 4rem;
}
.content p {
    margin-block: 2rem;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.content span {
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    cursor:context-menu;

    background-color: #333333;
    padding: 1rem 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
footer p {
    text-align: center;
    color: #BDBDBD;
}
